*{
	margin:0px;
	padding:0px;
	outline:none;
	border:0;	
}

html, body{
	background-color:#f1f1f1;
	height:100%;
	-webkit-overflow-scrolling:touch;
}

html{
	font-size:100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	color:#3c3c3c;
	overflow:hidden;
	padding-bottom:0px;
	visibility:visible !important;

	margin: 0;
	font-size: 14px;
	line-height: 20px;
	background-color: #fff;	
	
	font-family: Lato, sans-serif, verdana, Arial;
}

h1{
	font-size:16px;
}

input[type="text"], input[type="password"]{
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

input[type=text], input[type=password], select {
	font-size:12px;
	color:#555;
	border:1px solid #ddd;
	behavior: url(css/pie.htc);
	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;	
}

input[type=text], input[type=password]{
	padding:7px 5px 6px 5px;
}

textarea{
	font-family: Lato, sans-serif, verdana, Arial;
}

select{
	padding:7px 5px 6px 5px;
}

/*TABLE*/
table{
	width:100%;
	border-spacing:0px;
	border-collapse: collapse;
}

table tr td{
	padding:5px 10px;
	font-size:12px;
	vertical-align: middle;
}

table thead tr td{
	font-weight:bold;
	text-align:center;
}


ul li{
	list-style: none;
}

form{
	clear:both;
}